.fileList {
    display: flex;
    flex-direction: column;
}

.fileList__noFile {
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #566885;
}

.fileList__header {
    padding-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #566885;
    border-bottom: 2px solid #566885;



    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    text-align: center;
}

.fileList__name  {
    grid-column-start: 2;
}

.fileList__date {
    grid-column-start: 5;
}

.fileList__size {
    grid-column-start: 6;
}


.file-enter-active {
    animation: file-enter 500ms forwards;
}


@keyframes file-enter{
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


